<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.parrot.obus">

    <uses-sdk tools:ignore="OldTargetApi" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:allowBackup="false" />

</manifest>
